# #The Spark Foundation#

### Task 1: Student Percentage Prediction Using Supervised machine learning Algorithm

In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

#for ignore warnings
import warnings 
warnings.filterwarnings("ignore")

### Problem Statement

Predict the precentage of n student based on the no.of study hours.

### Data Gathering

In [2]:
data=pd.read_csv(r"C:\Users\kalyani Bharat Kare\Desktop\excel csv files\Student_Scores.csv")
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

### Explorotary Data Analysis

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [4]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

## Train-test Split

In [5]:
x=data.drop("Scores",axis=True)
y=data["Scores"]

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=3)

In [7]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(20, 1)
(5, 1)
(20,)
(5,)

In [8]:
linear_reg_model=LinearRegression()
linear_reg_model.fit(x_train,y_train)

LinearRegression()

## model evaluation

In [9]:
# testing
y_pred=linear_reg_model.predict(x_test)

MSE=mean_squared_error(y_test,y_pred)
print("mean_squared_error =",MSE)

RMSE=np.sqrt(MSE)
print("Root_mean_squared_error =",RMSE)

MAE=mean_absolute_error(y_test,y_pred)
print("mean_absolute_error =",MAE)

R2_Score=r2_score(y_test,y_pred)
print("r2_score  =",R2_Score)

mean_squared_error = 34.87044660461029
Root_mean_squared_error = 5.905120371729122
mean_absolute_error = 5.656974488548374
r2_score  = 0.9452617628334009

In [10]:
# traning
y_pred_train=linear_reg_model.predict(x_train)

MSE=mean_squared_error(y_train,y_pred_train)
print("mean_squared_error =",MSE)

RMSE=np.sqrt(MSE)
print("Root_mean_squared_error =",RMSE)

MAE=mean_absolute_error(y_train,y_pred_train)
print("mean_absolute_error =",MAE)

R2_Score=r2_score(y_train,y_pred_train)
print("r2_score  =",R2_Score)

mean_squared_error = 28.663598500285268
Root_mean_squared_error = 5.353839603526171
mean_absolute_error = 4.813815306870976
r2_score  = 0.9507549075691762

In [11]:
column_names=x.columns
len(column_names)

1

In [12]:
x.head(1).T

         0
Hours  2.5

In [13]:
Hours =9.25

In [14]:
array=np.zeros(len(column_names),dtype=float)
array

array([0.])

In [15]:
array[0]=Hours
array

array([9.25])

In [16]:
prediction=np.around(linear_reg_model.predict([array])[0],2)
a=(f"No. of hour {Hours} and predicted Score is {prediction}%")
a

'No. of hour 9.25 and predicted Score is 90.99%'

In [ ]:
#prediction is 90.99%